.heading{
  margin: 20px;
  letter-spacing: 4px;
}
.searchContainer
{
    margin: 30px 10px;
    min-width: 70%;
    display: flex;
    align-items: center;
    position: relative;
    right: 0;
}
input
{
    font-size: 20px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid black;
    min-width: 40%;
    margin-right: 15px;
    font-weight: 800;
}
button
{
    background-color: #3b3b3b;
    border-radius: 50%;
    border: 2px solid black;
    cursor: pointer;
    position: relative;
    padding: 12px 12px;
}
.Hero
{
  display: flex;
  flex-wrap: wrap;
}
.main {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 1rem;
}
    .tokenImage {
      border-radius: 0.5rem;
      max-width: 100%;
      height: 250px;
      object-fit: contain;
    }
    .description {
      margin: 0.5rem 0;
      height: 250px;
      overflow: auto;
      color: #a89ec9;
      scroll-behavior: smooth;
    }
    .description::-webkit-scrollbar{
      display: none;
    }
    .duration {
      float: right;
      color: #a89ec9;
      margin-right: 0.2rem;
    }
      .price {
        display: flex;
        align-items: center;
        gap: 7px;
        color: #ee83e5;
        font-size: 1.3em;
        font-weight: 700;
      }
      .nft {
        user-select: none;
        width: 400px;
        margin: 5rem 2rem;
        border: 1px solid #ffffff22;
        background-color: #282c34;
        background: linear-gradient(
          0deg,
          rgba(40, 44, 52, 1) 0%,
          rgba(17, 0, 32, 0.5) 60%
        );
        box-shadow: 0 7px 20px 5px #00000088;
        border-radius: 0.7rem;
        backdrop-filter: blur(7px);
        -webkit-backdrop-filter: blur(7px);
        overflow: hidden;
        transition: 0.5s all;
        display: inline-block;
      }

  .nft:hover {
    border: 1px solid #ffffff44;
    box-shadow: 0 7px 50px 10px #000000aa;
    transform: scale(1.015);
    filter: brightness(1.3);
  }
footer
{
  position:-webkit-sticky;
  bottom: 0;
  width: 100%;
  height: 4rem;
  text-align: center;
  padding-bottom: 20px;
  font-size: 25px;
}
/* MEDIA QUERIES */
@media (max-width: 500px) {
  input{
    padding: 15px;
    font-size: 20px;
    margin-right: 7px;
  }
  button{
    padding: 7px 7px;
  }
}